.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    top: 0;
    left: 0;
    right: 0;
& p {
    font-size: 20px;
}
}
.pageName {
    font-size: 15px!important;
    text-transform: uppercase;
    font-weight: 100;
    color: #341931;
    letter-spacing: 2.5px;
    
}
