a {
  text-decoration: none;
  color: inherit;
}
h1 {
  background: -webkit-linear-gradient(#EE0979, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5em;
}
li {
  list-style: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5em;
  margin: 0 30px;
}